<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1>V2V Courier Service</h1>
                <p>"V2V-Courier-Service is a professional-grade hosted courier management software solution that meets the end-to-end needs of your transportation business. If you are a carrier, freight broker, messenger, courier, or dispatching service, your business can become more effective and save money with our Courier management software."</p>
            </div>
            <div class="col-12 col-sm align-self-center">
                <img src="img/0.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</header>
<body>
<div class="container">
    <div class="row">
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
            <li class="breadcrumb-item active">Check Status</li>
        </ol>
        <div class="col-12">
           <h3>Check Status Of Courier Sent To You</h3>
           <hr>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-12 col-md-9">
            <form>
                <div class="form-group row">
                    <label for="id" class="col-md-2 col-form-label">Courier Id</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="id" name="id" 
                        placeholder="Courier Id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-md-2 col-form-label">Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="name" name="name" 
                        placeholder="Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mobile" class="col-md-2 col-form-label">Mobile</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="mobile" name="mobile" 
                        placeholder="Mobile No.">
                    </div>
                </div>
                <div class="form-group row">
                   <label for="email" class="col-md-2 col-form-label">Email</label>
                   <div class="col-md-10">
                       <input type="text" class="form-control" id="email" name="email" 
                       placeholder="Email Id">
                   </div>
               </div>
               <div class="form-group row">
                   <label for="lastname" class="col-md-2 col-form-label">Address</label>
                   <div class="col-md-10">
                       <input type="text" class="form-control" id="address" name="address" 
                       placeholder="Address">
                   </div>
               </div>
               <div class="form-group row">
                   <label for="city" class="col-md-2 col-form-label">City</label>
                   <div class="col-md-10">
                    <input type="text" class="form-control" id="city" name="city" 
                    placeholder="City">
                </div>
               </div>
               <div class="form-group row">
                   <label for="state" class="col-md-2 col-form-label">State</label>
                   <div class="col-md-10">
                       <select class="form-control">
                           <option>Andra Pradesh</option>
                           <option>Bihar</option>
                           <option>Chhattisgarh</option>
                           <option>Goa</option>
                           <option>Haryana</option>
                           <option>Jammu and Kashmir</option>
                           <option>Karnataka</option>
                           <option>Madya Pradesh</option>
                           <option>Nagaland</option>
                           <option>Orissa</option>
                           <option>Punjab</option>
                           <option>Sikkim</option>
                           <option>Tamil Nadu</option>
                           <option>Uttar Pradesh</option>
                           <option>West Bengal</option>
                       </select>
                   </div>
               </div>
               <div class="form-group row">
                   <label for="country" class="col-md-2 col-form-label">Country</label>
                   <div class="col-md-10">
                       <select class="form-control">
                           <option>India</option>
                       </select>
                   </div>
               </div>
               <div class="form-group row">
                   <label for="pincode" class="col-md-2 col-form-label">Pincode</label>
                   <div class="col-md-10">
                       <input type="text" class="form-control" id="pincode" name="pincode" 
                       placeholder="Pincode">
                   </div>
               </div>
               </form>
               <button class="btn btn-primary btn-block">Check Now</button>
           </div>
   </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">             
            <div class="col-4 offset-1 col-sm-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/aboutus">About</a></li>
                    <li><a routerLink="/contactus">Contact</a></li>
                </ul>
            </div>
            <div class="col-7 col-sm-5">
                <h5>Our Address</h5>
                <address>
                  Virtusa<br>
                  Chennai, Tamil Nadu<br>
                  India<br>
                  <i class="fa fa-phone fa-lg"></i> : +91 2123495678<br>
                  <i class="fa fa-fax fa-lg"></i> : +91 2087654321<br>
                  <i class="fa fa-envelope fa-lg"></i> : <a href="lohanisumit20@gmail.com">lohanisumit20@gmail</a>
               </address>
            </div>
            <div class="col-12 col-sm-4 align-self-center">
                <div class="text-center">
                    <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com"><i class="fa fa-facebook fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com"><i class="fa fa-linkedin fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com"><i class="fa fa-twitter fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-google" href="http://youtube.com"><i class="fa fa-youtube fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-google" href="mailto:lohanisumit20@gmail.com"><i class="fa fa-envelope-o fa-lg"></i></a>
                </div>
            </div>
       </div>
       <div class="row justify-content-center">             
            <div class="col-auto">
                <p>© Copyright V2V Courier Service</p>
            </div>
       </div>
    </div>
</footer>
</body>