<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>V2V Courier Service</title>
</head>

<body>
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>V2V Courier Service</h1>
                    <p>"V2V-Courier-Service is a professional-grade hosted courier management software solution that meets the end-to-end needs of your transportation business. If you are a carrier, freight broker, messenger, courier, or dispatching service, your business can become more effective and save money with our Courier management software."</p>
                </div>
                <div class="col-12 col-sm align-self-center">
                    <img src="/assets/image/0.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 order-sm-last col-md-3">
                <img class="d-flex mr-3 img-thumbnail align-self-center"
                            src="/assets/image/images.jpg">
                
            </div>
            <div class="col-12 col-sm order-sm-first col-md">
                 <h3>INVENTORY MANAGEMENT</h3>      
                <p class="d-none d-sm-block">Avoids errors while entering booking details and 
                            eliminates booking duplication. Rather than managing excel sheet or books for 
                            inventory management V2V Courier Service help you to manage your inventory online.
                </p>
            </div>
        </div>


        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 order-sm-last col-md-3">
                <img class="d-flex mr-3 img-thumbnail align-self-center"
                            src="/assets/image/download (1).jpg">
                
            </div>
            <div class="col-12 col-sm order-sm-first col-md">
                 <h3>HIGH ACCURATE</h3>      
                <p class="d-none d-sm-block">Resources being used by the system will be compatible with the latest technologies available in the market, as proposed system uses highly technologically compatible resources, there will be very lass wear and tear.
                </p>
            </div>
        </div>

        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 order-sm-last col-md-3">
                <img class="d-flex mr-3 img-thumbnail align-self-center"
                            src="/assets/image/download (2).jpg">
                
            </div>
            <div class="col-12 col-sm order-sm-first col-md">
                 <h3>SAFETY
                </h3>      
                <p class="d-none d-sm-block">The system will be accessible by only the authorized users. As information being the most crucial for the organization, then the safety of information is importation.
                </p>
            </div>
        </div>
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 order-sm-last col-md-3">
                <img class="d-flex mr-3 img-thumbnail align-self-center"
                            src="/assets/image/download.jpg">
                
            </div>
            <div class="col-12 col-sm order-sm-first col-md">
                 <h3>CONSISTENT</h3>      
                <p class="d-none d-sm-block">Processes can be made more consistent. In manual process sometimes some process will be forgotton. So, We help you to made your process more reliable.
                </p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/aboutus">About</a></li>
                        <li><a routerLink="/contactus">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
		              Virtusa<br>
		              Chennai, Tamil Nadu<br>
		              India<br>
		              <i class="fa fa-phone fa-lg"></i> : +91 2123495678<br>
		              <i class="fa fa-fax fa-lg"></i> : +91 2087654321<br>
		              <i class="fa fa-envelope fa-lg"></i> : <a href="lohanisumit20@gmail.com">lohanisumit20@gmail</a>
		           </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com"><i class="fa fa-facebook fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com"><i class="fa fa-twitter fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com"><i class="fa fa-youtube fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-google" href="mailto:lohanisumit20@gmail.com"><i class="fa fa-envelope-o fa-lg"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright V2V Courier Service</p>
                </div>
           </div>
        </div>
    </footer>
   
</body>

</html>